name: Build Image

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 2 * * *'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/radarr

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Lowercase repository
        run: |
          echo "IMAGE_NAME_LC=${IMAGE_NAME,,}" >> ${GITHUB_ENV}

      - name: Fetch version from script
        id: get_version
        run: |
          RADARR_VERSION=$(./scripts/get-latest-version.sh)
          echo "Latest Radarr version: ${RADARR_VERSION}"
          echo "RADARR_VERSION=${RADARR_VERSION}" >> $GITHUB_OUTPUT
    
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Containerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LC }}:${{ steps.get_version.outputs.RADARR_VERSION }}
          build-args: |
            RADARR_VERSION=${{ steps.get_version.outputs.RADARR_VERSION }}

